{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.css' %}">

    {% if title %}
        <title>Charlie Blog - {{ title }}</title>
    {% else %}
        <title>Charlie Blog</title>
    {% endif %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-secondary">
          <div class="container-md">
            <a class="navbar-brand" href="{% url 'blog-home' %}">Charlie Blog</a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    ria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'blog-home' %}">All Posts</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'blog-about' %}">About</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                        </a>
                        <ul class="dropdown-menu">
                            {% if user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'post-create' %}">Create Post</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                              {% else %}
                                <li><a class="dropdown-item" href="{% url 'login' %}">Log in</a></li>
                                <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>

                              {% endif %}

                        </ul>
                    </li>
                </ul>

                <form class="d-flex ms" method="get" action="{% url 'search-site' %}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                           name="searched">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
          </div>
        </nav>

    </header>

    <main role="main" class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <br>
        {% block content %}{% endblock %}

    </main>

<!-- Remove the container if you want to extend the Footer to full width. -->

  <footer class="text-center text-lg-start bg-body-secondary">
    <!-- Copyright -->
    <div class="text-center p-2">
        <p>© 2022 whatever.com</p>
    </div>
    <!-- Copyright -->
  </footer>




<script
    src="{% static 'bootstrap5/js/bootstrap.bundle.js' %}">
</script>
</body>
</html>