{% extends "blog/base.html" %}
{% block content %}
    <div class="row align-items-start">

        <div class="col-md-8">
        {% for post in posts %}
                {% include 'blog/snippets/post_snippet.html' %}
        {% endfor %}
        </div>

        <div class="col">
            <div class="card ms-auto">
              <div class="card-body">
                <h5 class="card-title">Welcome to my site, test change from github actions</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Volutpat odio facilisis mauris sit amet massa vitae tortor. Fusce ut placerat orci nulla pellentesque dignissim enim. At volutpat diam ut venenatis tellus in metus. Nulla malesuada pellentesque elit eget. Non nisi est sit amet facilisis magna etiam tempor orci. Pulvinar etiam non quam lacus suspendisse faucibus interdum. Consequat mauris nunc congue nisi. Eget egestas purus viverra accumsan in nisl nisi. Dictum fusce ut placerat orci nulla pellentesque dignissim.</p>
              </div>
            </div>
        </div>
    </div>

    {% include 'blog/snippets/pagination.html' %}
{% endblock content %}
